.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 0 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.elements {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.element:hover {
  background-color: #ddd;
  color: #fff;
}

.element > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #333;
}